# Copy to terraform.tfvars and fill in. terraform.tfvars is git-ignored.
location             = "centralindia"
resource_group_name  = "rg-dbx-uc-dev"
workspace_name       = "dbw-uc-dev"
storage_account_name = "stucdev12345" # must be globally unique
metastore_id         = "00000000-0000-0000-0000-000000000000"
assign_metastore     = true
catalog_name         = "dev_lakehouse"
data_engineers_group = "data-engineers"
data_analysts_group  = "data-analysts"
